name: Checks

on:
  pull_request:
    types: [assigned, opened, synchronize, reopened]
  push:

jobs:
  demo:
    runs-on: macos-11

    steps:
      - uses: maxim-lobanov/setup-xcode@v1.1
        with:
          xcode-version: "12.5"
      - uses: actions/checkout@v2
      - name: Pod install
        run: pod install
      - name: Build demo apps
        run: fastlane build_demo_apps

  pod-lint:
    runs-on: macos-11

    steps:
      - uses: maxim-lobanov/setup-xcode@v1.1
        with:
          xcode-version: "12.5"
      - uses: actions/checkout@v2
      - name: CocoaPods Lint
        run: pod lib lint --allow-warnings

  tests:
    runs-on: macos-11

    steps:
      - uses: maxim-lobanov/setup-xcode@v1.1
        with:
          xcode-version: "12.5"
      - uses: actions/checkout@v2
      - name: Test
        run: fastlane run_all_tests

#   swiftpm:
#     runs-on: macos-latest

#     steps:
#       - uses: maxim-lobanov/setup-xcode@v1.1
#         with:
#           xcode-version: "12.4"
#       - uses: actions/checkout@v2
#       - name: Build
#         run: swift build -Xswiftc "-sdk" -Xswiftc "`xcrun --sdk iphoneos --show-sdk-path`" -Xswiftc "-target" -Xswiftc "arm64-apple-ios14.0"
