name: Checks

on: [push]

jobs:
  demo:
    runs-on: macos-latest

    steps:
      - uses: maxim-lobanov/setup-xcode@v1.1
        with:
          xcode-version: "12.4"
      - name: webfactory/ssh-agent
        uses: webfactory/ssh-agent@v0.4.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Preparation for SwiftPM
        run: for ip in $(dig @8.8.8.8 github.com +short); do ssh-keyscan github.com,$ip; ssh-keyscan $ip; done 2>/dev/null >> ~/.ssh/known_hosts
      - uses: actions/checkout@v2
      - name: Pod install
        run: pod install
      - name: Run build
        run: fastlane build_demo_apps

  pod-lint:
    runs-on: macos-latest

    steps:
      - uses: maxim-lobanov/setup-xcode@v1.1
        with:
          xcode-version: "12.4"
      - name: webfactory/ssh-agent
        uses: webfactory/ssh-agent@v0.4.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - uses: actions/checkout@v2
      - name: Lint
        run: pod lib lint --allow-warnings

  pod-lint:
    runs-on: macos-latest

    steps:
      - uses: maxim-lobanov/setup-xcode@v1.1
        with:
          xcode-version: "12.4"
      - name: webfactory/ssh-agent
        uses: webfactory/ssh-agent@v0.4.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - uses: actions/checkout@v2
      - name: Lint
        run: fastlane run_tests
        
  # swiftpm:
  #   runs-on: macos-latest

  #   steps:
  #     - uses: maxim-lobanov/setup-xcode@v1.1
  #       with:
  #         xcode-version: "12.4"
  #     - name: webfactory/ssh-agent
  #       uses: webfactory/ssh-agent@v0.4.1
  #       with:
  #         ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
  #     - uses: actions/checkout@v2
  #     - name: Build
  #       run: swift build
